/* ---------- Global ---------- */
.root {
    -fx-font-family: "Inter", "Segoe UI", "Arial";
    -fx-font-size: 14px;
    -fx-background-color: #f7f7fb;
}

/* Containers */
.page {
    -fx-padding: 22;
    -fx-spacing: 14;
}

.card {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 16;
    -fx-padding: 24;
}

.card-tight {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-padding: 14;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 14, 0, 0, 5);
}

/* Text */
.title {
    -fx-font-size: 30px;
    -fx-font-weight: 800;
    -fx-text-fill: #E11D48;   /* red */
}

.subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #777;
    -fx-padding: 0 0 10 0;
}

.footer {
    -fx-font-size: 11px;
    -fx-text-fill: #aaa;
    -fx-padding: 14 0 0 0;
}

.muted {
    -fx-text-fill: #6b7280;
}

/* Inputs */
.input, .text-field, .password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #d6d7e2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 10 12;
}

.input:focused, .text-field:focused, .password-field:focused {
    -fx-border-color: #6c63ff;
    -fx-effect: dropshadow(gaussian, rgba(108,99,255,0.25), 10, 0, 0, 0);
}

/* TextAreas */
.textarea, .text-area {
    -fx-background-color: #ffffff;
    -fx-border-color: #d6d7e2;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 10;
}

.text-area .content {
    -fx-background-color: transparent;
}

.mono {
    -fx-font-family: "Consolas", "Menlo", "Monaco", monospace;
}

/* Buttons */
.button {
    -fx-background-radius: 10;
    -fx-padding: 10 14;
    -fx-font-weight: 700;
    -fx-cursor: hand;
}

.button-primary {
    -fx-background-color: #E11D48;
    -fx-text-fill: white;
}

.button-primary:hover {
    -fx-background-color: #BE123C;
}

.button-secondary {
    -fx-background-color: #FEE2E2;
    -fx-text-fill: #7F1D1D;
}

.button-secondary:hover {
    -fx-background-color: #FECACA;
}

.button-danger {
    -fx-background-color: #B91C1C;
    -fx-text-fill: white;
}

.button-danger:hover {
    -fx-background-color: #991B1B;
}



.home-background {
    -fx-background-image: url("../images/shopp.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: contain;
    -fx-background-color: white;
}


